<div id="app-wrapper">
    <div class="en-tete container gris4" role="navigation">
        <logo class="petit logolaclasse gris4 pull-left"
              user="current_user"></logo>

        <span class="hidden-xs hidden-sm titre" ng:cloak>{{app.nom}}</span>

        <usermenu user="current_user"></usermenu>

        <profilactif class="gris4 profil-select-wrapper"
                     ng:if="current_user.profiles"
                     user="current_user"></profilactif>
    </div>

    <appiframe appid="appid"
               user="current_user"
               class="appiframe"></appiframe>
</div>
