<div class="laius">
    <h2>{{parent.description}}</h2>
    <br>
    <div class="blanc form-horizontal"
         style="height: auto;">
        <div class="col-md-12 form-group">
            <label for="text"
                   class="col-md-3 control-label">Filtre :</label>
            <div class="col-md-8">
                <input id="text"
                       class="form-control gris1"
                       ng:model="filter_criteria.text" />
            </div>
        </div>

        <div class="col-md-12 form-group">
            <label for="showclasses"
                   class="col-md-3 control-label">Classes </label>
            <checkbox id="showclasses"
                      class="form-control checkbox"
                      ng:model="filter_criteria.show_classes"></checkbox>
        </div>
        <div class="col-md-12 form-group">
            <label for="showgroupesdeleves"
                   class="col-md-3 control-label">Groupes d'élèves </label>
            <checkbox id="showgroupesdeleves"
                      class="form-control checkbox"
                      ng:model="filter_criteria.show_groupes_eleves"></checkbox>
        </div>
    </div>
</div>
