<div class="row damier gris4"
     ng:class="{'modification': modification}">
    <ul data-as-sortable="sortable_options"
        data-is-disabled="!modification"
        ng:model="tree">

        <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3 petite case animate scale-fade-in {{tile.couleur}}"
            data-as-sortable-item
            ng:class="{ 'empty hidden-xs': !tile.taxonomy }"
            ng:repeat="tile in tree.tiles | orderBy:'index'">
            <div ng:include="tiles_templates[ tile.taxonomy ]"></div>
        </li>
    </ul>

    <!-- Mode normal -->
    <span class="hidden-xs hidden-sm floating-button toggle big off blanc"
          ng:if="tree.configurable && current_user.profil_actif.admin && !modification"
          ng:click="edit_tiles()"></span>

    <!-- Mode modification -->
    <span class="hidden-xs hidden-sm floating-button toggle big on gris4"
          ng:if="modification"></span>
    <span class="floating-button small cancel gris3"
          ng:if="modification"
          ng:click="exit_tiles_edition()"></span>
    <span class="floating-button small save gris1"
          ng:if="modification"
          ng:click="save_tiles_edition()"></span>

    <span class="floating-button small action1 add-app gris1"
          ng:if="modification"
          ng:click="add_tile()"></span>
</div>
