<div class="row damier gris4"
     ng:class="{'modification': modification}">

    <div class="hidden-xs aside aside-blanc"
         style="position: absolute;
                height: 75%;
                width: 50%;
                top: 25%;
                left: -50%;
                background-color: #fff;"
         ng:include="tree.laius_template"
         ng:if="tree.laius_template">
        {{tree.laius_template}}
    </div>

    <ul data-as-sortable="sortable_options"
        data-is-disabled="!modification"
        ng:model="tree">

        <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3 petite case animate scale-fade-in {{tile.couleur}}"
            data-as-sortable-item
            ng:class="{ 'empty hidden-xs': !tile.taxonomy }"
            ng:repeat="tile in tree.tiles | filter:tree.filter() | orderBy:'index'">
            <div ng:include="tiles_templates[ tile.taxonomy ]"></div>
        </li>
    </ul>

    <!-- Mode normal -->
    <span class="hidden-xs hidden-sm floating-button toggle big off blanc"
          ng:if="tree.configurable && current_user.profil_actif.admin && !modification"
          ng:click="edit_tiles()"></span>

    <!-- Mode modification -->
    <span class="hidden-xs hidden-sm floating-button toggle big on gris4"
          ng:if="modification"></span>
    <span class="floating-button small cancel gris3"
          ng:if="modification"
          ng:click="exit_tiles_edition()"></span>
    <span class="floating-button small save gris1"
          ng:if="modification"
          ng:click="save_tiles_edition()"></span>

    <span class="floating-button small action1 add-app gris1"
          ng:if="modification"
          ng:click="add_tile()"></span>
</div>
