<div class="modal-header">
    <h3 class="modal-title">Gérer les flux RSS affichés sur le portail de l'établissement</h3>
</div>
<div class="modal-body config-fluxes">
    <ul>
        <li ng:repeat="flux in current_flux">
            <label>titre <input type="text"
                                ng:model="flux.title"
                                ng:change="dirtify( flux )" /></label>
            <label>url <input type="text"
                              ng:model="flux.flux"
                              ng:change="dirtify( flux )" /></label>
            <label>nombre d'articles à inclure <select ng:options="nb for nb in nb_articles"
                                                       ng:model="flux.nb"
                                                       ng:change="dirtify( flux )" /></select>
            </label>

            <div class="controls">
                <button class="btn-default delete"
                        ng:click="delete( flux )"><span class="glyphicon glyphicon-trash"></span></button>
                <button class="btn-primary save"
                        ng:if="flux.dirty"
                        ng:click="save( flux )"><span class="glyphicon glyphicon-ok-sign"></span></button>
            </div>
            <div class="clearfix"></div>
        </li>
    </ul>
    <div class="clearfix"></div>

    <button style="right: 4em;"
            ng:click="add_default_flux()"><span class="glyphicon glyphicon-cloud-download"></span></button>
    <button ng:click="add_flux()"><span class="glyphicon glyphicon-plus-sign"></span></button>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng:click="close()">
        <span class="glyphicon glyphicon-remove-sign"></span> Fermer
    </button>
</div>
