<div class="modal-header">
    <h3 class="modal-title">Ajouter une case</h3>
</div>
<div class="modal-body available-apps">
    <ul>
        <li class="new-app"
            ng:repeat="tile in available_tiles"
            ng:if="tile.available() || tile.creation"
            ng:class="{'selected': tile.selected, 'creation': tile.creation, 'pronote': tile.application_id == 'PRONOTE'}"
            ng:click="selected( tile )">

            <a ng:if="!tile.creation"
               title="{{ tile.description }}"
               ng:style="{'background-color': tile.color }">
                <img draggable="false" class="icone" ng:src="{{prefix}}/{{tile.icon}}"
                     ng:if="tile.icon"/>
                <span class="app-name" ng:cloak>{{ tile.libelle }}</span>
                <label ng:if="tile.application_id == 'PRONOTE'">lien <input type="text" ng:model="tile.url" ng:click="keep_tile_selected( $event, tile )"/></label>
            </a>

            <fieldset ng:if="tile.creation">
                <legend>lien libre</legend>

                <label>libellé <input type="text" ng:model="tile.libelle" ng:click="keep_tile_selected( $event, tile )" /></label>
                <label>lien <input type="text" ng:model="tile.url" ng:click="keep_tile_selected( $event, tile )" /></label>
            </fieldset>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary pull-left" ng:click="add_empty_link_tile()">
        <span class="glyphicon glyphicon-plus-sign"></span> Ajouter un lien libre
    </button>

    <button class="btn btn-default" ng:click="cancel()">
        <span class="glyphicon glyphicon-remove-sign"></span> <span ng:if="tiles_selected">Annuler</span><span ng:if="!tiles_selected">Fermer</span>
    </button>
    <button class="btn btn-success"
            ng:click="ok()"
            ng:disabled="!tiles_selected">
        <span class="glyphicon glyphicon-ok-sign"></span> Valider
    </button>
</div>
