<span class="compteur-notification orange-brillant"
      ng:if="case.tile.notifications > 0"
      ng:cloak>{{case.tile.notifications}}</span>
<img draggable="false" class="icone" ng:src="{{prefix}}/{{case.tile.icon}}"
     ng:if="case.tile.icon"/>
<div class="icone"
     data-fittext
     ng:if="!case.tile.icon">
    {{case.tile.libelle[0]}}
</div>
<span class="app-name" ng:cloak>{{ case.tile.libelle }} <i class="glyphicon glyphicon-new-window" ng:if="case.tile.type === 'external'"></i></span>
