<div class="row portail {{root.class}}">
    <div class="hidden-xs col-sm-4 col-md-4 col-lg-4 aside aside-blanc"
         ng:bind-html="root.laius">
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <div class="row damier gris4">
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 petite case animate scale-fade-in {{tile.couleur}}"
                 ng:class="{'empty hidden-xs': !tile.nom}"
                 ng:repeat="tile in root.tiles | orderBy:'index'">
                <a href
                   title="{{tile.description_court}}"
                   ng:if="tile.nom"
                   ng:click="tile.action()"
                   target="_blank">
                    <img draggable="false"
                         class="icone"
                         ng:src="{{prefix}}{{ tile.icon }}">
                    <span class="app-name">{{tile.nom}}</span>
                </a>
            </div>
        </div>
    </div>
</div>
