<div class="flippable"
     ng:class="{ 'show-back': tile.configure }">
    <div class="as-sortable-item-handle"
         data-as-sortable-item-handle
         ng:style="{'background-color': tile.color + '77' }">
    <div class="front"
         ng:class="{'deleted': tile.to_delete}"
         ng:style="{'background-color': tile.color}">

        <button class="btn btn-lg toggle-configure open-configure"
                ng:if="modification"
                ng:click="tile.toggle_configure()">
            <span class="icone parametrer"></span>
        </button>
        <ng-color-picker class="couleurs"
                         ng:click="tile.is_dirty( 'color' )"
                         ng:if="modification"
                         selected="tile.color"
                         colors="COULEURS"></ng-color-picker>

        <div class="tile-icone"
           ng:click="tile.action()"
           title="{{tile.description}}"
           style="cursor: pointer">
            <div class="icone"
                 data-fittext
                 ng:if="!tile.icon">
                {{tile.libelle[0]}}
            </div>
            <img draggable="false"
                 class="icone"
                 ng:src="{{prefix}}/{{ tile.icon }}"
                 ng:if="tile.icon">
            <span class="app-name">
                {{tile.libelle}}
                <i class="glyphicon glyphicon-new-window"
                   ng:if="tile.type === 'EXTERNAL'"></i>
            </span>
        </div>
    </div>

    <div class="configure back blanc"
         ng:if="modification">

        <button class="btn btn-lg toggle-configure close-configure"
                ng:click="tile.toggle_configure()">
            <span class="icone visualiser"></span>
        </button>
        <button class="btn btn-xs btn-link remove glyphicon glyphicon-trash"
                ng:click="tile.remove()"></button>

        <label>
            nom : <input type="text" class="form-control"
                         ng:model="tile.libelle"
                         ng:change="tile.is_dirty( 'libelle' )" />
        </label>

        <label>
            description : <input type="text" class="form-control"
                                 ng:model="tile.description"
                                 ng:change="tile.is_dirty( 'description' )" />
        </label>

        <label ng:if="tile.type === 'EXTERNAL' || tile.application_id == 'PRONOTE'">
            url : <input type="text" class="form-control"
                         ng:model="tile.url"
                         ng:change="tile.is_dirty( 'url' )" />
        </label>

        <label>
            activée : <checkbox class="btn-success"
                                style="padding: 1px 2px 2px;"
                                ng:model="tile.active"
                                ng:change="tile.is_dirty( 'active' )"></checkbox>
        </label>
    </div>
    </div>
</div>
