<div class="row damier gris4"
     ng:class="{'modification': modification}">

    <ul data-as-sortable="sortable_options"
        data-is-disabled="!modification"
        ng:model="cases">
        <li class="col-xs-6 col-sm-4 col-md-3 col-lg-3 petite case flippable"
            data-as-sortable-item
            ng:repeat="case in cases | orderBy:'index'"
            ng:class="{ {{case.couleur}}: !case.tile }"
            ng:class="{ 'show-back': case.tile.configure,
                      'unavailable': case.tile && case.tile.type !== 'portail' && case.tile.type !== 'external' && case.tile.status.status == 'KO',
                      'empty hidden-xs hidden-sm': !case.tile || !case.tile.id || !case.tile.active }">
            <div ng:include="tiles_templates[ case.tile.species ]"
                 ng:if="case.tile"></div>
        </li>
    </ul>

    <!-- Mode normal -->
    <span class="hidden-xs hidden-sm floating-button toggle big off blanc"
          ng:if="current_user.profil_actif.admin && !modification"
          ng:click="toggle_modification( !modification )"></span>

    <!-- Mode modification -->
    <span class="hidden-xs hidden-sm floating-button toggle big on gris4"
          ng:if="modification"></span>
    <span class="floating-button small cancel gris3"
          ng:if="modification"
          ng:click="toggle_modification( false )"></span>
    <span class="floating-button small save gris1"
          ng:if="modification"
          ng:click="toggle_modification( true )"></span>

    <span class="floating-button small action1 add-app gris1"
          ng:if="modification"
          ng:click="add_tile()"></span>

</div>
