<div class="flippable"
     ng:class="{ 'show-back': tile.configure }">
    <div class="as-sortable-item-handle"
         data-as-sortable-item-handle
         ng:style="{'background-color': tile.color }">
        <div class="front"
             ng:class="{'deleted': tile.to_delete}"
             ng:style="{'background-color': tile.color}">

            <button class="btn btn-lg toggle-configure open-configure"
                    ng:if="$ctrl.modification"
                    ng:click="tile.toggle_configure()">
                <span class="icone parametrer"></span>
            </button>

            <div class="tile-icone"
                 ng:click="tile.action()"
                 title="{{tile.description}}"
                 style="cursor: pointer">
                <div class="icone"
                     fittext
                     ng:if="!tile.icon">
                    {{tile.name[0]}}
                </div>
                <img draggable="false"
                     class="icone"
                     ng:src="{{$ctrl.prefix}}/{{ tile.icon }}"
                     ng:if="tile.icon">
                <span class="app-name">
                    {{tile.name}}
                    <i class="glyphicon glyphicon-new-window"
                       ng:if="tile.type === 'EXTERNAL'"></i>
                </span>
                <span class="counter label label-warning"
                      style="position: absolute; top: 5px; right: 5px; height: 28px; width: unset; font-size: 20px; border-radius: 14px;"
                      title="messages récents"
                      ng:if="tile.notifications && tile.notifications.recent > 0">
                    {{tile.notifications.recent}}
                </span>
            </div>
        </div>

        <div class="configure back"
             ng:if="$ctrl.modification">

            <button class="btn btn-lg toggle-configure close-configure"
                    ng:click="tile.toggle_configure()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
            <button class="btn btn-xs btn-link remove glyphicon glyphicon-trash" style="color: #fed"
                    ng:click="tile.remove()"></button>

            <ng-color-picker class="couleurs"
                             selected="tile.color"
                             colors="$ctrl.COULEURS"></ng-color-picker>
            <label>
                nom : <input type="text" class="form-control"
                             ng:model="tile.name" />
            </label>

            <label>
                description : <input type="text" class="form-control"
                                     ng:model="tile.description" />
            </label>

            <label ng:if="tile.type === 'EXTERNAL' || tile.application_id == 'PRONOTE'">
                url : <input type="text" class="form-control"
                             ng:model="tile.url" />
            </label>
        </div>
    </div>
</div>
