# -*- encoding: utf-8 -*-

# development ou production
ENV[ 'RACK_ENV' ] = 'development'

# Chemin absolu de l'application sur le serveur
APP_ROOT = File.expand_path( File.join( File.dirname( __FILE__ ), '..' ) )

# Mapping HAProxy de l'application, ex : '/v3/docs'
APP_PATH = '/portail'.freeze

# Langage par défaut de l'application
LANG = 'fr'.freeze

#
CACHE_BUSTER = Time.now.to_i.to_s

# Url de l'ENT
URL_ENT = 'http://localhost/annuaire'.freeze

#
# Configuration du service d'annuaire de l'ENT
#
ANNUAIRE = { url:                            'http://localhost/annuaire/api',
             api_key:                        'LuydVroojySB1iZWxkUzTVi8jiVW3pgP1wHSv5opPJY=',
             app_id:                         'PORTAIL' }.freeze
