{ "closed_for_summer": true,
  "apps": {
      "default": {
          "CTXT": {
              "hidden": [ "ACA", "COL", "ETA" ],
              "default": true,
              "summer": false,
              "color": "#1aa1cc",
              "icon": "app/node_modules/laclasse-common-client/images/03_cahierdetextes.svg",
              "index": 0 },
          "MAIL": {
              "hidden": [ "TUT" ],
              "default": true,
              "summer": false,
              "color": "#e8c254",
              "icon": "app/node_modules/laclasse-common-client/images/01_messagerie.svg",
              "index": 1 },
          "DOC": {
              "hidden": [],
              "default": true,
              "summer": false,
              "color": "#9c75ab",
              "icon": "app/node_modules/laclasse-common-client/images/02_documents.svg",
              "index": 2 },
          "BLOGS": {
              "hidden": [],
              "default": true,
              "summer": false,
              "color": "#80ba66",
              "icon": "app/node_modules/laclasse-common-client/images/07_blogs.svg",
              "index": 3 },
          "GAR": {
              "hidden": [],
              "default": true,
              "summer": false,
              "color": "#eb5454",
              "icon": "app/node_modules/laclasse-common-client/images/08_ressources.svg",
              "index": 4 },
          "CCNUM": {
              "hidden": [],
              "default": true,
              "summer": false,
              "color": "#80ba66",
              "icon": "app/node_modules/laclasse-common-client/images/06_thematiques.svg",
              "index": 5 },
          "PUBLI": {
              "hidden": [ "ELV", "TUT" ],
              "default": true,
              "summer": false,
              "color": "#1aa1cc",
              "icon": "app/node_modules/laclasse-common-client/images/11_publipostage.svg",
              "index": 6 },
          "ADMIN": {
              "hidden": [ "ACA", "COL", "ETA", "EVS", "ELV", "TUT" ],
              "default": true,
              "summer": true,
              "color": "#e8c254",
              "icon": "app/node_modules/laclasse-common-client/images/13_admin.svg",
              "index": 7 },
          "PRONOTE": {
              "hidden": [],
              "default": false,
              "summer": false,
              "color": "#9c75ab",
              "icon": "app/node_modules/laclasse-common-client/images/04_notesabsences.svg",
              "index": 8 },
          "TROMBI": {
              "hidden": [],
              "default": false,
              "summer": false,
              "color": "#1aa1cc",
              "icon": "app/node_modules/laclasse-common-client/images/09_trombi.svg",
              "index": 9 },
          "SUIVIELV": {
              "hidden": [],
              "default": false,
              "summer": false,
              "color": "#e8c254",
              "icon": "app/node_modules/laclasse-common-client/images/10_suivi.svg",
              "index": 10 },
          "LPC": {
              "hidden": [  ],
              "default": false,
              "summer": false,
              "color": "#eb5454",
              "icon": "app/node_modules/laclasse-common-client/images/05_validationcompetences.svg",
              "index": 11 },
          "AIDE": {
              "hidden": [],
              "default": false,
              "summer": true,
              "color": "#e8c254",
              "icon": "app/node_modules/laclasse-common-client/images/12_aide.svg",
              "index": 12 },
          "TELESRV": {
              "hidden": [  ],
              "default": false,
              "summer": true,
              "color": "#eb5454",
              "icon": "app/node_modules/laclasse-common-client/images/15_teleservices.svg",
              "index": 13 },
          "QUIZ": {
              "hidden": [],
              "default": false,
              "summer": false,
              "color": "#1aa1cc",
              "icon": "app/node_modules/laclasse-common-client/images/05_validationcompetences.svg",
              "index": 14 },
          "TABLETS": {
              "hidden": [],
              "default": false,
              "summer": false,
              "color": "#e8c254",
              "icon": "app/node_modules/laclasse-common-client/images/14_classeultramobile.svg",
              "index": 15 }
      }
  },
  "news_feed": [
      {
          "icon": "",
          "url": "http://ent-laclasse.blogs.laclasse.com/category/editos/feed/",
          "name": "Editoriaux d'Erasme"
      },
      {
          "icon": "",
          "url": "http://ent-laclasse.blogs.laclasse.com/feed/",
          "name": "blog du projet ENT"
      }
  ],
  "help_links": [
      {
          "title": "Besoin d'aide ?",
          "url": "http://ent-laclasse.blogs.laclasse.com/2016/12/26/besoin-daide/",
          "profils": [ "ADM", "ACA", "COL", "DIR", "DOC", "ELV", "ENS", "ETA", "EVS", "TUT" ]
      },
      {
          "title": "Teaser et flyer de laclasse.com",
          "url": "http://ent-laclasse.blogs.laclasse.com/2017/03/31/teaser-de-laclasse-com/",
          "profils": [ "ADM", "ACA", "COL", "DIR", "DOC", "ELV", "ENS", "ETA", "EVS", "TUT" ]
      },
      {
          "title": "Tutoriels de laclasse.com",
          "url": "http://ent-laclasse.blogs.laclasse.com/category/tutoriel/",
          "profils": [ "ADM", "ACA", "DIR", "ENS", "DOC", "ETA", "EVS" ]
      },
      {
          "title": "Tutoriels de la DANE",
          "url": "https://dane.ac-lyon.fr/spip/Formations-ENT-laclasse-com-Lyon",
          "profils": [ "ADM", "ACA", "DIR", "ENS", "DOC", "ETA", "EVS" ]
      },
      {
          "title": "Annonces techniques",
          "url": "http://ent-laclasse.blogs.laclasse.com/category/annonces-techniques/",
          "profils": [ "ADM", "ACA", "COL", "DIR", "DOC", "ELV", "ENS", "ETA", "EVS", "TUT" ]
      },
      {
          "title": "Charte d'utilisation",
          "url": "https://www.laclasse.com/portail/legalese/charte_d_utilisation.html",
          "profils": [ "ADM", "ACA", "COL", "DIR", "DOC", "ELV", "ENS", "ETA", "EVS", "TUT" ]
      },
      {
          "title": "Mentions Légales",
          "url": "https://www.laclasse.com/portail/legalese/mentions_legales.html",
          "profils": [ "ADM", "ACA", "COL", "DIR", "DOC", "ELV", "ENS", "ETA", "EVS", "TUT" ]
      }
  ]
}
