{ "closed_for_summer": false,
  "apps": {
      "default": {
          "CTXT": {
              "hidden": [ "ACA", "COL", "ETA" ],
              "default": true,
              "summer": true,
              "color": "#1aa1cc",
              "icon": "app/node_modules/laclasse-common-client/images/03_cahierdetextes.svg",
              "index": 0 },
          "MAIL": {
              "hidden": [ "TUT" ],
              "default": true,
              "summer": false,
              "color": "#e8c254",
              "icon": "app/node_modules/laclasse-common-client/images/01_messagerie.svg",
              "index": 1 },
          "DOC": {
              "hidden": [ "ETA", "COL" ],
              "default": true,
              "summer": false,
              "color": "#9c75ab",
              "icon": "app/node_modules/laclasse-common-client/images/02_documents.svg",
              "index": 2 },
          "BLOGS": {
              "hidden": [],
              "default": true,
              "summer": false,
              "color": "#80ba66",
              "icon": "app/node_modules/laclasse-common-client/images/07_blogs.svg",
              "index": 3 },
          "GAR": {
              "hidden": [],
              "default": true,
              "summer": false,
              "color": "#eb5454",
              "icon": "app/node_modules/laclasse-common-client/images/08_ressources.svg",
              "index": 4 },
          "CCNUM": {
              "hidden": [],
              "default": true,
              "summer": false,
              "color": "#80ba66",
              "icon": "app/node_modules/laclasse-common-client/images/06_thematiques.svg",
              "index": 5 },
          "PUBLI": {
              "hidden": [ "ELV", "TUT" ],
              "default": true,
              "summer": false,
              "color": "#1aa1cc",
              "icon": "app/node_modules/laclasse-common-client/images/11_publipostage.svg",
              "index": 6 },
          "ADMIN": {
              "hidden": [ "ACA", "COL", "ETA", "EVS", "ELV", "TUT" ],
              "default": true,
              "summer": true,
              "color": "#e8c254",
              "icon": "app/node_modules/laclasse-common-client/images/13_admin.svg",
              "index": 7 },
          "PRONOTE": {
              "hidden": [],
              "default": false,
              "summer": false,
              "color": "#9c75ab",
              "icon": "app/node_modules/laclasse-common-client/images/04_notesabsences.svg",
              "index": 8 },
          "TROMBI": {
              "hidden": [],
              "default": false,
              "summer": false,
              "color": "#1aa1cc",
              "icon": "app/node_modules/laclasse-common-client/images/09_trombi.svg",
              "index": 9 },
          "SUIVIELV": {
              "hidden": [],
              "default": false,
              "summer": false,
              "color": "#e8c254",
              "icon": "app/node_modules/laclasse-common-client/images/10_suivi.svg",
              "index": 10 },
          "LPC": {
              "hidden": [  ],
              "default": false,
              "summer": true,
              "color": "#eb5454",
              "icon": "app/node_modules/laclasse-common-client/images/05_validationcompetences.svg",
              "index": 11 },
          "AIDE": {
              "hidden": [],
              "default": false,
              "summer": true,
              "color": "#e8c254",
              "icon": "app/node_modules/laclasse-common-client/images/12_aide.svg",
              "index": 12 },
          "TELESRV": {
              "hidden": [  ],
              "default": false,
              "summer": true,
              "color": "#eb5454",
              "icon": "app/node_modules/laclasse-common-client/images/15_teleservices.svg",
              "index": 13 },
          "QUIZ": {
              "hidden": [],
              "default": false,
              "summer": false,
              "color": "#1aa1cc",
              "icon": "app/node_modules/laclasse-common-client/images/05_validationcompetences.svg",
              "index": 14 },
          "TABLETS": {
              "hidden": [],
              "default": false,
              "summer": false,
              "color": "#e8c254",
              "icon": "app/node_modules/laclasse-common-client/images/14_classeultramobile.svg",
              "index": 15 }
      }
  },
  "news_feed": [
      {
          "nb": 1,
          "icon": "",
          "flux": "http://ent-laclasse.blogs.laclasse.com/category/editos/feed/",
          "title": "Editoriaux d'Erasme"
      },
      {
          "nb": 3,
          "icon": "",
          "flux": "http://ent-laclasse.blogs.laclasse.com/feed/",
          "title": "blog du projet ENT"
      }
  ],
  "help_links": [
      {
          "title": "Besoin d'aide ?",
          "url": "http://ent-laclasse.blogs.laclasse.com/2016/12/26/besoin-daide/",
          "profils": [ "ACA", "COL", "DIR", "DOC", "ELV", "ENS", "ETA", "EVS", "TUT" ]
      },
      {
          "title": "Tutoriel pour préparer la rentrée sur l'ENT",
          "url": "http://ent-laclasse.blogs.laclasse.com/2016/06/28/principal-de-college-comment-preparer-la-rentree-sur-lent/",
          "profils": [ "DIR", "ENS", "DOC" ]
      },
      {
          "title": "Tutoriel tuile 'Panneau d'Administration'",
          "url": "http://ent-laclasse.blogs.laclasse.com/2016/07/08/administrer-son-etablissement/",
          "profils": [ "DIR", "ENS", "DOC" ]
      },
      {
          "title": "Directeur ou enseignant d’école : les conseils pour démarrer sur Laclasse.com",
          "url": "http://ent-laclasse.blogs.laclasse.com/2016/12/30/directeur-ou-enseignant-decole-les-conseils-pour-demarrer-sur-laclasse-com/",
          "profils": [ "DIR", "ENS", "DOC" ]
      },
      {
          "title": "Ecole primaire : créer les classes et les comptes élèves par un import de fichier .csv",
          "url": "http://ent-laclasse.blogs.laclasse.com/2017/01/02/ecole-primaire-creer-les-classes-et-les-comptes-eleves-par-un-import-de-fichier-csv/",
          "profils": [ "DIR", "ENS", "DOC" ]
      },
      {
          "title": "Tutoriel 'Accès aux blogs'",
          "url": "http://ent-laclasse.blogs.laclasse.com/2016/12/29/tutoriel-de-la-dane-sur-loutil-acces-aux-blogs/",
          "profils": [ "DIR", "ENS", "DOC" ]
      },
      {
          "title": "Tutoriel 'Administrer son blog'",
          "url": "http://ent-laclasse.blogs.laclasse.com/2016/08/29/pour-acceder-a-son-blog-et-ladministrer/",
          "profils": [ "DIR", "ENS", "DOC" ]
      },
      {
          "title": "Paramétrer sa messagerie sur un logiciel de messagerie",
          "url": "http://ent-laclasse.blogs.laclasse.com/2016/08/22/parametrer-son-adresse-mail-sur-un-logiciel-de-messagerie-thunderbird-outlooketc/",
          "profils": [ "DIR", "ENS", "DOC" ]
      },
      {
          "title": "Communiquer les logins et mots de passes automatiques",
          "url": "http://ent-laclasse.blogs.laclasse.com/2016/09/12/communiquer-les-logins-et-mots-de-passes-automatiques/",
          "profils": [ "DIR", "ENS", "DOC" ]
      },
      {
          "title": "Formation de la DANE",
          "url": "https://dane.ac-lyon.fr/spip/Formations-ENT-laclasse-com-Lyon",
          "profils": [ "DIR", "ENS", "DOC" ]
      },
      {
          "title": "Problèmes connus",
          "url": "http://ent-laclasse.blogs.laclasse.com/category/bugs/",
          "profils": [ "DIR", "ENS", "DOC" ]
      },
      {
          "title": "Charte d'utilisation",
          "url": "https://www.laclasse.com/portail/legalese/charte_d_utilisation.html",
          "profils": [ "ACA", "COL", "DIR", "DOC", "ELV", "ENS", "ETA", "EVS", "TUT" ]
      },
      {
          "title": "Mentions Légales",
          "url": "https://www.laclasse.com/portail/legalese/mentions_legales.html",
          "profils": [ "ACA", "COL", "DIR", "DOC", "ELV", "ENS", "ETA", "EVS", "TUT" ]
      }
  ]
}
